<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>Login Page</title>

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/app.css}"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css"/>
</head>

<body>

<th:block th:insert="authheader"/>

<div class="generic-container">

    <div class="panel panel-default">

        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Users </span></div>

        <table class="table table-hover">
            <thead>
            <tr>

                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>SSO ID</th>

                <sec:authorize access="hasRole('ADMIN') or hasRole('DBA')">
                    <th width="100"></th>
                </sec:authorize>

                <sec:authorize access="hasRole('ADMIN')">
                    <th width="100"></th>
                </sec:authorize>

            </tr>
            </thead>

            <tbody>

            <tr th:each="user : ${users}">

                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.ssoId}"></td>


                <sec:authorize access="hasRole('ADMIN') or hasRole('DBA')">
                    <td><a th:href="@{'/edit-user-'+${user.ssoId}}"
                           class="btn btn-success custom-width">edit</a>
                    </td>
                </sec:authorize>

                <sec:authorize access="hasRole('ADMIN')">
                    <td><a th:href="@{'/delete-user-'+${user.ssoId}}"
                           class="btn btn-danger custom-width">delete</a>
                    </td>
                </sec:authorize>

            </tr>

            </tbody>

        </table>
    </div>

    <sec:authorize access="hasRole('ADMIN')">
        <div class="well">
            <a th:href="@{'/newuser' }">Add New User</a>
        </div>
    </sec:authorize>

</div>

</body>
</html>